certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
grpcio==1.15.0
idna==2.7
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.0
numpy==1.15.2
Pillow==5.3.0
protobuf==3.6.1
pyparsing==2.2.2
python-dateutil==2.7.3
PyYAML==3.13
requests==2.19.1
scipy==1.1.0
six==1.11.0
tensorboard==1.11.0
tensorboardX==1.4
tensorflow==1.11.0
tensorflow-gpu==1.4.0
#torch==0.4.1 # torch==0.3.1 # compile torch on own
#torchvision==0.2.1 # also installs torch
urllib3==1.23
Werkzeug==0.14.1